__pycache__
.ipynb_checkpoints
clip_test.ipynb
CLIP.jpg
run_dataset_generation.sh
run_dataloader.sh
run.sh
vocab.json
src_trash
image_dataset
result
clip_test.ipynb
Untitled.ipynb
run
runs
run_dataset_generation
model_checkpoint